/* bg color: #45afd6 */
* {
    box-sizing: border-box;
    font-family: 'Architects Daughter';
}

h1{
    font-family: 'Walter Turncoat';
    text-align: center;
    margin: 0px;
    font-size: 2em;
}

img{
    display: none;
}

button{
    border-radius: 1em;
    background: linear-gradient(#aaa, #888);
    border: 1px solid #222;
    padding: 5px 3em;
    box-shadow: 0px 0px 2px 1px #aaa;
    margin: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover{
    background: linear-gradient(#888, #aaa);
    box-shadow: inset 0px 0px 2px 1px #555;
}

button a{
    text-decoration: none;
    color: #000;
}

.br{
    clear: both;
}

body{
    background: #45afd6;
    margin: 0;
    text-align: center;
}

.content{
    background: #fff;
    width: 1000px;
    max-width: 95vw;
    margin: 5px auto;
    border-radius: 1em;
    min-height: 80vh;
    padding: 5px 20px;
}

canvas{
    border: 2px solid black;
    margin: 0 calc(50% - 150px);
}
